@import '../../../styles/variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: $primary;
  opacity: 0;
  animation: float-particle linear infinite;

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $size: random(6) + 2px;
      width: $size;
      height: $size;
      left: random(100) * 1%;
      animation-duration: (random(20) + 15) * 1s;
      animation-delay: random(5) * 1s;

      @if $i % 3 == 0 {
        background: $primary;
      } @else if $i % 3 == 1 {
        background: $accent;
      } @else {
        background: #8b5cf6;
      }
    }
  }
}

@keyframes float-particle {
  0% {
    transform: translateY(100vh) scale(0);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}
